* {
  box-sizing: border-box;
}


body {
  color:#404040;
  margin: 0px;
  padding-bottom: 50px;
  min-height: 100%;
  position: relative;
}

a {
text-decoration: none;
}

nav,
footer {
  font-family: Karla,sans-serif; 
  background-color: #404040;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navBarBrand {
  padding-left: 15px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: white; 
}

.icon {
  font-size: 26px;
}

.fa {
  padding-right: 15px;
  color: #FF0084;
}

#navLinks {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

#navLinks a {
  color: white;
  padding: 4px 14px;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aboutLink, .portfolioLink, .github{
  margin: 0px 10px 0px 10px;
  padding: 5px;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

#navLinks a:hover, a:focus {  
  color: #FF0084;
}

.github a:visited {
  color: white;
}

.github a:hover {
  color: #FF0084;
}

.linkedin {
  background-color:#FF0084;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}

.linkedin a:visited {
  color: white;
}

.linkedin a:hover {
  color: #404040 !important;
  background-color: rgba(255, 0, 170, 0.932);
}


.navLinkOpen {
  font-size: 20px;
}

 
header {
  margin-top: 40px;
  background-color: white;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  padding: 40px 15px 40px 15px;
  position: relative;
}

span {
  color: #FF0084;
}

.name {
  display: block;
  position: absolute;
  top: 75px;
  left: 210px;
}

#aboutHeadline {
  display: none;
}

.aboutMe {
  min-height: 200px;
  padding: 15px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px; 
  line-height: 48px;
}

#aboutText, #aboutText2 {
  margin: 20px 30px 20px 30px;
  font-family: 'Quattrocento', serif;
  font-size: 20px;
  line-height: 30px;
}

.aboutMe span {
  font-weight: bold;
}

#portfolioButton{
  display: flex;
  background-color:#FF0084;
  text-decoration: none;
  padding: 8px;
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 2px;
  border: none;
}

#portfolioButton:hover {
  color: #404040;
  background-color: rgba(255, 0, 170, 0.932);
}

#portfolio {
  padding-left: 15px;
  margin-bottom: 20px;
  overflow: scroll;
}

#projectDiv {
  margin-left: 30px;
  margin-right: 45px;
}

.project {
  text-align: left;
  margin-bottom: 40px;
}

.projectImage {
  border: 1px solid #bfbfbf;
  width: 80%;
}

.projectTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  left: -30px;
}

.logo {
  width: 25px;
}

.projectDes {
  font-family: 'Quattrocento', serif; 
  font-size: 20px;
  line-height: 30px;

}

#repoSuicide, #repoDH, #pageDH, #pageSuicide {
  font-family: Karla,sans-serif; 
  font-size: 20px;
  color: #FF0084
}

#repoSuicide a:visited {
  color: #FF0084;
}

#repoSuicide a:hover {
  color:#404040;
  font-size: 20px;
}


.codeLink a:visited {
  color: #FF0084 !important; 
}

.codeLink:hover {
  color:#404040 !important;
  font-size: 20px;
}

.pageLink:hover {
  color:#404040 !important;
  font-size: 20px;
}

.pageLink:before {
  content: "| ";
}

.techList {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 0px; 
}

.techList li {
  margin-right: 10px;
}

footer {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 15px;
  align-items: center;
  font-size: 18px;
}

footer a {
  background-color:#FF0084;
  text-decoration: none;
  padding: 5px;
}

footer a:hover {
  color: #404040;
  background-color: rgba(255, 0, 170, 0.932);
}

@media screen  and (min-width: 760px) /* Tablet */ {

  nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navBarBrand {
    display: flex;
    margin-top: 0px;
    padding-left: 15px; 
    font-size: 28px;
  }

  #navLinks {
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: row;
    order: 3;
    margin: 10px 10px 5px 10px;
    padding: 0px;
  }

  .fa {
    display: none;
  }

  header, main {
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 100px;
    margin-bottom: 86px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 50px;
  }

  .name {
    top: 82px;
    left: 220px;
  }

  .aboutMe {
    margin-top: 30px;
  }

  #aboutHeadline {
    display: flex;
}

  h2 {
    font-size: 30px;
    margin-top: 15px;
  }

  #aboutText {
    font-size: 20px;
    line-height: 40px;
  }

  #aboutText2 {
    font-size: 20px;
    line-height: 40px;
  }

  #portfolioButton {
    margin-left: 30px;
    margin-top: 28px;
    margin-bottom: 90px;
  }

  #portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #projectDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 5px;
  }

  .project {
    margin-right: 38px;
    margin-bottom: 15px;
    text-align: left;
    width: 43%;
  }

  .techList {
    justify-content: flex-start;
  }

  .projectImage {
    width: 98%;
  }

  #project2 .projectImage {
    margin-bottom: 54px;
  }

  .projectTitle {
    font-size: 22px;
    left: -37px;
  }

  .projectDes {
    font-size: 20px;
    line-height: 30px;
  }

  .logo {
    width: 38px;
}

  #repoLink, #pageLink {
    font-size: 22px;
  }

  .project a:hover {
    font-size: 26px;
  }

  body {
    padding-bottom: 55px;
  }

  footer {
    text-align: left;
    padding: 15px;
    height: 55px;
    font-size: 18px;
  }

  #footerLink {
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
  }
}

@media screen and (min-width: 980px) /* Desktop */ {
  /* adjust when more projects */
  
  header, main {
    margin-left: 40px;
    margin-right: 30px;
  }

  main {
    margin-top: -40px;
  }

  .navBarBrand {
    font-size: 30px;
  }
  
  h1 {
    margin-bottom: 0px;
  }

  .aboutMe {
    margin-bottom: -50px;
    margin-top: 0px;
    padding: 15px 15px 0px 15px;
  }

  #portfolio {
    margin-top: 140px;
    padding-top: 45px;
  }

  h2 {
    margin-top: 10px;
  }

  #project2 .projectImage {
    margin-bottom: 87px;
  }

  footer {
    text-align: left;
    padding: 15px;
    height: 55px;
    font-size: 22px;
  }

  #footerLink {
    padding: 5px 15px 5px 15px;
  }
}



